@font-face {
  src: url(static/fonts/Serkan.ttf);
  font-family: Serkan Free Trial;
}
@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: calc(100% - 60px);
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Serkan Free Trial;
}

input::-ms-clear {
  display: block;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.carousel-container {
  width: 100%;
  height: 1000px;
  position: relative;
  margin-top: 200px;
}

.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}

.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}

.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
}

.item {
  position: absolute;
  display: none;
  text-align: center;
}

.main {
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 103%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  height: 35px;
}

.login {
  width: 100%;
  height: 900px;
}

.login__text {
  color: #D1A110;
  font-family: Serkan Free Trial;
}

body {
  background-color: black;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media (max-width: 1600px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 375px;
  }
}

@media (max-width: 376px) {
  .container {
    width: 320px;
  }
}

@media (max-width: 330px) {
  .container {
    width: 270px;
  }
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #232021;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000117 ;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header__logo {
  width: 70px;
  height: 90px;
  z-index: 3;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header .menu__list {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__list li.active a,
.header .menu__list a:hover {
  color: #968214;
}

.header .menu__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #D1A110;
  margin: 0px 0px 0px 100px;
  font-family: Serkan Free Trial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .header__logo {
    margin-left: 0px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 50px;
    height: 40px;
    margin-right: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    top: 18px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .menu__body {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313131;
    overflow: auto;
    padding: 140px 0px 0px 0px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header .menu__body.active {
    top: 0;
  }
  .header .menu__list {
    display: block;
  }
  .header .menu__list li {
    font-size: 25px;
    margin: 0px 0px 30px 0px;
  }
}

.banners {
  position: relative;
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
}

.banners__container {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 200px;
}

.banners__text {
  margin: auto;
  font-family: Serkan Free Trial;
  color: #D1A110;
  font-size: 120px;
  font-weight: 900;
  letter-spacing: 10px;
}

.banners__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banners__img img {
  width: 100%;
  height: 100%;
  opacity: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

.banners__btn {
  display: inline-block;
  width: 550px;
  height: 110px;
  background-color: #000117;
  margin-top: 50px;
  color: #ff00ff ;
  font-family: Serkan Free Trial;
  font-size: 70px;
  letter-spacing: 30px;
  border: 5px solid #ff00ff;
  line-height: 1.3;
}

@media (max-width: 1300px) {
  .banners__text {
    font-size: 80px;
  }
  .banners__container {
    padding-top: 130px;
  }
}

@media (max-width: 1200px) {
  .banners__text {
    font-size: 70px;
  }
}

@media (max-width: 900px) {
  .banners__text {
    font-size: 60px;
  }
  .banners__btn {
    width: 450px;
    height: 90px;
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .banners__text {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .banners__text {
    font-size: 40px;
  }
  .banners__btn {
    width: 350px;
    height: 70px;
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .banners__text {
    font-size: 30px;
  }
  .banners__btn {
    width: 300px;
    height: 60px;
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .banners__text {
    font-size: 40px;
  }
  .banners__btn {
    width: 250px;
    height: 40px;
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .banners__text {
    font-size: 25px;
  }
}

.stafs {
  width: 100%;
  height: 900px;
  position: relative;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.stafs__container {
  position: inherit;
  z-index: 1;
  text-align: center;
}

.stafs__text {
  font-family: Serkan Free Trial;
  font-size: 50px;
  letter-spacing: 20px;
  color: #D1A110;
}

.stafs__body {
  background-color: #232021;
  margin-top: 50px;
  height: 800px;
  padding: 25px;
}

.stafs__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 475px 475px 475px;
      grid-template-columns: 475px 475px 475px;
  -ms-grid-rows: 350px 350px;
      grid-template-rows: 350px 350px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
}

@media (max-width: 1600px) {
  .stafs {
    height: 1300px;
  }
  .stafs__text {
    margin-bottom: 50px;
  }
  .stafs__body {
    width: 1030px;
    height: 1200px;
    margin: 0 auto;
  }
  .stafs__main {
    -ms-grid-columns: 425px 425px;
        grid-template-columns: 425px 425px;
    -ms-grid-rows: 350px 350px 350px;
        grid-template-rows: 350px 350px 350px;
    -webkit-column-gap: 130px;
            column-gap: 130px;
  }
}

@media (max-width: 1200px) {
  .stafs {
    height: 2550px;
  }
  .stafs__body {
    width: 600px;
    height: 2400px;
    margin: 0 auto;
  }
  .stafs__main {
    -ms-grid-columns: 550px;
        grid-template-columns: 550px;
    -ms-grid-rows: 350px 350px 350px 350px 350px 350px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
    -webkit-column-gap: 130px;
            column-gap: 130px;
  }
}

.stafs__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.stafs__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .stafs__body {
    width: 400px;
    height: 2400px;
    margin: 0 auto;
  }
  .stafs__main {
    -ms-grid-columns: 350px;
        grid-template-columns: 350px;
    -ms-grid-rows: 350px 350px 350px 350px 350px 350px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
    -webkit-column-gap: 130px;
            column-gap: 130px;
  }
}

@media (max-width: 510px) {
  .stafs__body {
    width: 250px;
    height: 2400px;
    margin: 0 auto;
  }
  .stafs {
    -ms-grid-columns: 200px;
        grid-template-columns: 200px;
    -ms-grid-rows: 350px 350px 350px 350px 350px 350px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
    -webkit-column-gap: 130px;
            column-gap: 130px;
  }
}

.stafs__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.stafs__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stafs .item__text {
  display: none;
  position: absolute;
  top: 30%;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #D1A110;
  font-size: 50px;
  font-family: Serkan Free Trial;
  font-weight: 900;
  cursor: pointer;
}

.stafs__item:hover img {
  -webkit-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
  opacity: 10%;
}

.stafs__item:hover .item__text {
  display: block;
}

.map {
  width: 100%;
  height: 1000px;
  position: relative;
  margin: 60px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.map__container {
  position: inherit;
  z-index: 1;
  text-align: center;
}

.map__text {
  font-family: Serkan Free Trial;
  font-size: 50px;
  letter-spacing: 20px;
  color: #D1A110;
}

.map__body {
  width: 100%;
  height: 800px;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1600px) {
  .map__body {
    margin: 0 auto;
    height: 600px;
    width: 85%;
  }
  .map__body > a > img {
    height: 700px;
    width: 85%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .map__text {
    margin-bottom: 50px;
  }
}

/*==========================================
					Адаптив для карты
	==========================================*/
@media (max-width: 1300px) {
  .map {
    margin-top: 100px;
  }
}

@media (max-width: 1200px) {
  .map {
    height: 900px;
  }
}

@media (max-width: 540px) {
  .map {
    height: 600px;
  }
}

@media (max-width: 415px) {
  .map {
    height: 500px;
  }
}

.about-us {
  width: 100%;
  height: 1000px;
  position: relative;
  margin-top: 60px;
  padding: 0;
}

.about-us__container {
  width: 1318px;
  height: inherit;
  position: inherit;
  z-index: 1;
  margin-top: 350px;
}

.about-us__header {
  text-align: center;
  font-family: Serkan Free Trial;
  color: #ffa300;
  font-size: 50px;
  padding: 20px 0px;
}

.about-us__body {
  width: 100%;
  height: 100%;
  background-color: #000117;
  font-family: Serkan Free Trial;
  color: #ffa300 ;
  font-size: 28px;
}

/* ABOUT US */
@media (max-width: 1600px) {
  .about-us__container {
    margin-top: 0px;
    width: 1100px;
  }
}

@media (max-width: 1200px) {
  .about-us__container {
    margin-top: 0px;
    width: 800px;
  }
}

@media (max-width: 900px) {
  .about-us__container {
    margin-top: 0px;
    width: 600px;
    height: 105%;
  }
  .about-us__header {
    font-size: 30px;
  }
  .about-us__body {
    font-size: 26.5px;
  }
}

@media (max-width: 768px) {
  .about-us__container {
    margin-top: 0px;
    width: 400px;
    height: 115%;
  }
  .about-us__body {
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  .about-us__container {
    margin-top: 300px;
    width: 300px;
    height: 140%;
  }
}

@media (max-width: 415px) {
  .about-us__container {
    margin-top: 375px;
    width: 300px;
    height: 140%;
  }
}

@media (max-width: 412px) {
  .about-us__container {
    margin-top: 375px;
    width: 300px;
    height: 140%;
  }
  .about-us__body {
    font-size: 24px;
  }
}

@media (max-width: 376px) {
  .about-us__body {
    font-size: 22px;
  }
  .about-us__container {
    margin-top: 375px;
    width: 250px;
    height: 135%;
  }
}

@media (max-width: 360px) {
  .about-us__container {
    margin-top: 375px;
  }
}

@media (max-width: 321px) {
  .about-us__container {
    margin-top: 375px;
  }
}

@media (max-width: 280px) {
  .about-us__container {
    margin-top: 375px;
    height: 140%;
  }
}

.reservation {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.reservation__container {
  position: inherit;
  z-index: 1;
}

.reservation__text {
  text-align: center;
  font-family: Serkan Free Trial;
  font-size: 50px;
  color: #D1A110;
  margin-bottom: 50px;
}

.reservation__body {
  margin: 0 auto;
}

.reservation__form {
  margin: 0 auto;
  text-align: center;
}

.reservation__form .form__email,
.reservation__form .form__name,
.reservation__form .form__message {
  color: #D1A110;
  font-family: Serkan Free Trial;
  font-size: 50px;
}

.reservation__form .form__email > input,
.reservation__form .form__message > input,
.reservation__form .form__name > input {
  width: 800px;
  height: 50px;
  margin-top: 50px;
  font-size: 30px;
}

.reservation__form .form__email > input::-webkit-input-placeholder,
.reservation__form .form__name > input::-webkit-input-placeholder,
.reservation__form .form__message > input::-webkit-input-placeholder {
  font-size: 30px;
  text-align: center;
}

.reservation__form .form__email > input:-ms-input-placeholder,
.reservation__form .form__name > input:-ms-input-placeholder,
.reservation__form .form__message > input:-ms-input-placeholder {
  font-size: 30px;
  text-align: center;
}

.reservation__form .form__email > input::-ms-input-placeholder,
.reservation__form .form__name > input::-ms-input-placeholder,
.reservation__form .form__message > input::-ms-input-placeholder {
  font-size: 30px;
  text-align: center;
}

.reservation__form .form__email > input::placeholder,
.reservation__form .form__name > input::placeholder,
.reservation__form .form__message > input::placeholder {
  font-size: 30px;
  text-align: center;
}

@media (max-width: 900px) {
  .reservation__text {
    font-size: 40px;
  }
  .reservation__form .form__email,
  .reservation__form .form__name,
  .reservation__form .form__message {
    font-size: 30px;
  }
  .reservation__form .form__email > input,
  .reservation__form .form__message > input,
  .reservation__form .form__name > input {
    width: 500px;
    margin-top: 50px;
    font-size: 30px;
  }
  .reservation__form .form__email > input::-webkit-input-placeholder,
  .reservation__form .form__name > input::-webkit-input-placeholder,
  .reservation__form .form__message > input::-webkit-input-placeholder {
    font-size: 30px;
    text-align: center;
  }
  .reservation__form .form__email > input:-ms-input-placeholder,
  .reservation__form .form__name > input:-ms-input-placeholder,
  .reservation__form .form__message > input:-ms-input-placeholder {
    font-size: 30px;
    text-align: center;
  }
  .reservation__form .form__email > input::-ms-input-placeholder,
  .reservation__form .form__name > input::-ms-input-placeholder,
  .reservation__form .form__message > input::-ms-input-placeholder {
    font-size: 30px;
    text-align: center;
  }
  .reservation__form .form__email > input::placeholder,
  .reservation__form .form__name > input::placeholder,
  .reservation__form .form__message > input::placeholder {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .reservation {
    margin-top: 200px;
  }
  .reservation__form .form__email,
  .reservation__form .form__name,
  .reservation__form .form__message {
    font-size: 20px;
  }
  .reservation__form .form__email > input,
  .reservation__form .form__message > input,
  .reservation__form .form__name > input {
    width: 400px;
    margin-top: 50px;
    font-size: 30px;
  }
  .reservation__form .form__email > input::-webkit-input-placeholder,
  .reservation__form .form__name > input::-webkit-input-placeholder,
  .reservation__form .form__message > input::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input:-ms-input-placeholder,
  .reservation__form .form__name > input:-ms-input-placeholder,
  .reservation__form .form__message > input:-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input::-ms-input-placeholder,
  .reservation__form .form__name > input::-ms-input-placeholder,
  .reservation__form .form__message > input::-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input::placeholder,
  .reservation__form .form__name > input::placeholder,
  .reservation__form .form__message > input::placeholder {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .reservation {
    margin-top: 450px;
  }
  .reservation__text {
    font-size: 30px;
  }
  .reservation__form .form__email,
  .reservation__form .form__name,
  .reservation__form .form__message {
    font-size: 20px;
  }
  .reservation__form .form__email > input,
  .reservation__form .form__message > input,
  .reservation__form .form__name > input {
    width: 200px;
    margin-top: 50px;
    font-size: 30px;
  }
  .reservation__form .form__email > input::-webkit-input-placeholder,
  .reservation__form .form__name > input::-webkit-input-placeholder,
  .reservation__form .form__message > input::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input:-ms-input-placeholder,
  .reservation__form .form__name > input:-ms-input-placeholder,
  .reservation__form .form__message > input:-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input::-ms-input-placeholder,
  .reservation__form .form__name > input::-ms-input-placeholder,
  .reservation__form .form__message > input::-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input::placeholder,
  .reservation__form .form__name > input::placeholder,
  .reservation__form .form__message > input::placeholder {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 415px) {
  .reservation {
    margin-top: 450px;
  }
  .reservation__form .form__email,
  .reservation__form .form__name,
  .reservation__form .form__message {
    font-size: 20px;
  }
  .reservation__form .form__email > input,
  .reservation__form .form__message > input,
  .reservation__form .form__name > input {
    width: 200px;
    margin-top: 50px;
    font-size: 30px;
  }
  .reservation__form .form__email > input::-webkit-input-placeholder,
  .reservation__form .form__name > input::-webkit-input-placeholder,
  .reservation__form .form__message > input::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input:-ms-input-placeholder,
  .reservation__form .form__name > input:-ms-input-placeholder,
  .reservation__form .form__message > input:-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input::-ms-input-placeholder,
  .reservation__form .form__name > input::-ms-input-placeholder,
  .reservation__form .form__message > input::-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  .reservation__form .form__email > input::placeholder,
  .reservation__form .form__name > input::placeholder,
  .reservation__form .form__message > input::placeholder {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 376px) {
  .reservation {
    margin-top: 450px;
  }
}

@media (max-width: 360px) {
  .reservation {
    margin-top: 450px;
  }
}

@media (max-width: 280px) {
  .reservation {
    margin-top: 450px;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #000117 ;
}

.footer__container {
  position: inherit;
  z-index: 1;
}

.footer .contact__us {
  padding-top: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contact__us > a {
  display: inline-block;
  text-decoration: none;
  color: #D1A110;
  font-size: 50px;
  font-family: Serkan Free Trial;
}

.footer__main > span {
  -webkit-box-shadow: 2px 5px gray;
          box-shadow: 2px 5px gray;
}

.changepic {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid white;
  float: right;
}

.changepic > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media (max-width: 800px) {
  .changepic {
    background: url("img/3.jpg");
    -o-object-fit: cover;
       object-fit: cover;
  }
  .changepic > img {
    display: none;
  }
}

@media (max-width: 700px) {
  .footer {
    width: 100%;
  }
  .footer .contact__us > a {
    font-size: 30px;
  }
}

@media (max-width: 415px) {
  .footer {
    margin-top: 50px;
    width: 100%;
  }
  .footer .contact__us > a {
    font-size: 25px;
  }
}

@media (max-width: 321px) {
  .footer {
    margin-top: 100px;
    width: 100%;
  }
  .footer .contact__us > a {
    font-size: 20px;
  }
}
